ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	text-align:center;
	display: inline-block;
	width: 22.5%; /* this value + 2.5 should = 25% */
	padding: 10px;
	margin: 0 0 2.5% 2%;
	background: rgba(239,105,136,0.15);
	border: 1px solid rgba(251,195,140,0.77);
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px rgba(251,140,140,0.9);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li div{
	position:relative;
	width: 90%;
	text-align:center;
}

ul.rig li img {
	max-height:300px;
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.rig li p {
	text-align:justify;
	margin-top:0px;
	margin-left:25px;
	font-size: .9em;
	line-height: 1em;
	color: #000000;
}

.photo{
	width: 90%;
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}
